@keyframes previewPopup {
  0% {
    /* scale: .25; */
    transform: scale(0) translate(-50%, -50%);
  }
  100% {
    /* scale: 1; */
    transform: scale(1) translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
}
@keyframes previewClose {
  0% {
    /* scale: 1; */
    transform: scale(1) translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  100% {
    /* scale: .25; */
    transform: scale(0) translate(-50%, -50%);
  }
}

:root {
  --previewWindowMaxWidth: 85vw;
  --previewWindowMaxHeight: 85vh;
}

.previewWindow {
  position: fixed;
  transform: translate(-50%, -50%);
  /* max-width: var(--contentMaxWidth); */
  max-width: var(--previewWindowMaxWidth);
  max-height: var(--previewWindowMaxHeight);
  background-color: #66666699;
  backdrop-filter: blur(32px);
  -webkit-backdrop-filter: blur(32px);
  padding: 0 12px 12px;
  display: flex;
  flex-direction: column;
  border: 1px solid #888;
  border-radius: 10px;
	box-shadow: 0 4px 40px #111111cc;
  display: none;
  transform-origin: top left;
  animation-fill-mode: forwards;
  transform: scale(0) translate(-50%, -50%);
  z-index: 1;
}
.previewWindow.loaded {
  display: unset;
  animation-name: previewPopup;
  animation-duration: .575s;
  animation-timing-function: var(--bezierWholeOut);
}
.previewWindow.closing {
  animation-name: previewClose;
  animation-duration: .175s;
  animation-timing-function: ease-in;
}
.previewWindowTop {
  display: flex;
  height: 36px;
}
.previewWindowTopBtn {
  width: 11px;
	height: 11px;
	border-radius: 6px;
	font-size: 9.2px;
  line-height: 10.5px;
  text-align: center;
	background-color: #666;
  border: .5px solid  #777;
  color: white;
}
.previewWindowTopBtn:hover {
  background-color: #777;
  border-color: #888;
}
.previewWindowTopBtn:active {
  background-color: #555;
  border-color: #444;
}
.previewWindowBody > img, .previewWindowBody > video {
  max-width: calc(var(--previewWindowMaxWidth));
  max-height: calc(var(--previewWindowMaxHeight) - 82px);
  object-fit: contain;
  border-radius: 10px;
}