:root {
	--maxProjectWindowWidth: 768px;
	--maxProjectWindowHeight: 512px;
	--projectWindowTopBar: #00000030
}
@media screen and (max-width: 880px) {
	.projects {
		margin: 15px 15px 64px!important;
	}
}
@media screen and (max-width: 700px) {
	.projectWindowBodyInfo {
		flex-direction: column;
	}
}
@media screen and (max-width: 600px) {
	.projectWindowL {
		display: none !important;
	}
	.projectWindowRTop > .projectWindowLTop {
		display: flex !important;
	}
	.projectWindowRTabs {
		display: grid !important;
	}
	.projectWindowRTabBtn {
		display: unset !important;
	}
}
@media screen and (max-width: 480px) {
	.projectWindowRBody {
		grid-template-columns: 1fr !important;
	}
	.projectWindowBodyInfo {
		grid-column: unset !important;
	}
}

.projects {
	margin: 32px 32px 64px;
}
.projectWindow {
	background-color: var(--background-200);
	border: 1px solid var(--background-300);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 4px 32px var(--text-200);
	margin: auto;
	transition-property: background-color, border-color, box-shadow !important;
	max-width: var(--maxProjectWindowWidth);
	height: var(--maxProjectWindowHeight);
	display: flex;
}
.projectWindowL {
	max-width: 170px;
	border-right: 1px solid #00000033;
	transition-property: border-color !important;
}
.projectWindowLTop {
	display: flex;
	gap: 8px;
	padding: 19px 18px;
	color: #00000000;
	text-align: center;
}
.projectWindowRTop > .projectWindowLTop {
	display: none;
	margin: auto 16px auto 0;
	padding: 0;
}
.projectWindowLTop:not(.disabled):hover > div {
	color: #00000077;
}
.macBtn {
	min-width: 11px;
	min-height: 11px;
	max-width: 11px;
	max-height: 11px;
	width: 11px;
	height: 11px;
	border-radius: 50%;
	aspect-ratio: 1;
	line-height: 10.5px;
	font-size: 9.2px;
}
.macBtn:nth-child(1) {
	background-color: #EC6A5F;
	border: .5px solid #d05d54
}
.macBtn:nth-child(2) {
	background-color: #F4C04F;
	border: .5px solid #d7a946
}
.macBtn:nth-child(3) {
	background-color: #61C555;
	border: .5px solid #55ad4b
}
.macBtn.gray {
	background-color: var(--background-300);
	border-color: var(--background-300);
}
.projectWindowLTop > div:active {
	opacity: .5;
}
.projectWindowLList {
	padding: 10px;
	overflow-y: scroll;
	max-height: calc(var(--maxProjectWindowHeight) - 73px);
	transition: padding 1s var(--bezierQuartOut);
}
.projectWindowRTabBtn {
	display: none;
	padding: 0 4px;
	margin-right: 15px;
	line-height: 20px;
	transform: scale(1.5);
	border-radius: 5px;
	font-size: 9px;
	background-color: var(--background-300);
	transition: background-color .2s var(--bezierQuartOut);
	aspect-ratio: 1;
	width: 12px;
}
.projectWindowRTabBtn:hover {
	background-color: var(--background-400);
	cursor: pointer;
}
.projectWindowRTabBtn:active {
	background-color: var(--background-100);
}
.projectWindowRTabs {
	display: none;
	flex-direction: row;
	grid-template-columns: 1fr 1fr;
	gap: 1px;
	background-color: var(--background-50);
	position:absolute;
	width: calc(100% - 48px);
}
.projectWindowRTabs > .projectTab {
	flex-grow: 1;
	background-color: var(--background-100);
	transition: .2s var(--bezierQuartOut) background-color;
	font-size: 12px;
	justify-content: center;
}
.projectWindowLList > .projectTab {
	border-radius: 5px;
}
.projectTab {
	transition: scale 1s var(--bezierQuartOut);
	font-size: 14px;
	line-height: 10px;
	font-weight: 500;
	display: flex;
	padding: 8px;
	gap: 6px;
}
.projectTab:hover {
	background-color: var(--background-100);
	cursor: pointer;
}
.projectWindowLList > .projectTab.selected {
	background-color: var(--background-300);
}
.projectWindowRTabs > .projectTab.selected {
	background-color: var(--background-300);
	box-shadow: none
}
.projectWindowRTabs > .projectTab:not(.selected):hover {
	background-color: var(--background-300);
}
.projectTabIcon > img {
	width: 14px;
	height: 14px;
	transition-property: filter;
	transition-duration: .3s;
	transition-timing-function: ease-out;
}
[data-theme="light"] .projectTabIcon > img {
	filter: invert(91%) sepia(89%) saturate(6870%) hue-rotate(222deg) brightness(71%) contrast(117%);
}
[data-theme="dark"] .projectTabIcon > img {
	filter: invert(51%) sepia(29%) saturate(1442%) hue-rotate(194deg) brightness(101%) contrast(100%);
}
.projectTabName {
	margin: auto 0;
	width: max-content;
}
.projectWindowR {
	flex-grow: 1;
}
.projectWindowRTop {
	padding: 16px 16px 16px 18px;
	background-color: var(--projectWindowTopBar);
	display: flex;
}
.projectWindowRTopLoad {
	flex-grow: 1;
}
.projectWindowRBody {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	padding: 20px 20px;
	gap: 20px;
	max-height: calc(var(--maxProjectWindowHeight) - 91px);
	overflow-y: scroll;
}
.projectWindowBodyInfo {
	grid-column: 1/3;
	height: auto;
	display: flex;
	gap: 24px;
}
.projectInfoText {
	display: flex;
	flex-direction: column;
}
.projectInfoName {
	display: flex;
	gap: 16px;
}
.projectInfoIcon {
	box-shadow: 0 4px 16px #00000066;
	aspect-ratio: 1;
	display: flex;
	border-radius: 16px;
	max-width: 68px;
	max-height: 68px;
}
.projectInfoIcon:not(.iconLarge) {
	padding: 14px;
	width: 40px;
	height: 40px;
}
.projectInfoIcon.iconLarge > img {
	width: 68px;
	height: 68px;
	border-radius: 16px;
}
.projectInfoIcon > img {
	width: 40px;
}
.projectInfoOpenBtn {
	margin-top: 9px;
}
.projectInfoOpenBtn > a {
	padding: 6px 18px;
	border-radius: 24px;
	background-color: var(--accent-600);
	transition: background-color .2s var(--bezierQuartOut);
	color: white;
}
.projectInfoOpenBtn > a:hover {
	text-decoration: none;
	background-color: var(--accent-800);
	color: white;
}
.projectImg {
	height: 158px;
}
.projectImg > img, .projectImg > video {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: var(--projectWindowTopBar);
	cursor: zoom-in;
}