:root {
	--maxProjectWindowWidth: 768px;
	--maxProjectWindowHeight: 512px;
	--projectWindowTileSize: 256px;
}
@media screen and (max-width: 880px) {
	.projects {
		margin: 15px 15px 64px!important;
	}
}
@media screen and (max-width: 800px) {
	.projectTab {
		scale: .85
	}
	.projectWindowLList {
		padding: 4px !important;
	}
}

.projects {
	margin: 32px 32px 64px;
}
.projectWindow {
	background-color: var(--background-200);
	border: 1px solid var(--background-300);
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0 4px 32px var(--text-200);
	margin: auto;
	transition-property: background-color, border-color, box-shadow !important;
	max-width: var(--maxProjectWindowWidth);
	height: var(--maxProjectWindowHeight);
	display: flex;
}
.projectWindowL {
	max-width: 170px;
	border-right: 1px solid #00000033;
	transition-property: border-color !important;
}
.projectWindowLTop {
	display: flex;
	gap: 8px;
	padding: 20px;
	color: #00000000;
	text-align: center;
}
.projectWindowLTop:not(.disabled):hover > div {
	color: #00000077;
}
.macBtn {
	min-width: 11px;
	min-height: 11px;
	border-radius: 6px;
	font-size: 9.2px;
}
.macBtn:nth-child(1) {
	background-color: #EC6A5F;
	border: .5px solid #d05d54
}
.macBtn:nth-child(2) {
	background-color: #F4C04F;
	border: .5px solid #d7a946
}
.macBtn:nth-child(3) {
	background-color: #61C555;
	border: .5px solid #55ad4b
}
.macBtn.gray {
	background-color: var(--background-300);
	border-color: var(--background-300);
}
.projectWindowLTop > div:active {
	opacity: .5;
}
.projectWindowLList {
	padding: 10px;
	overflow-y: scroll;
	max-height: calc(var(--maxProjectWindowHeight) - 73px);
	transition: padding 1s var(--bezierQuartOut);
}
.projectTab {
	transition: scale 1s var(--bezierQuartOut);
	border-radius: 5px;
	font-size: 14px;
	line-height: 10px;
	font-weight: 500;
	display: flex;
	padding: 8px;
	gap: 6px;
}
.projectTab:hover {
	background-color: var(--background-100);
	cursor: pointer;
}
.projectTab.selected {
	background-color: var(--background-300);
}
.projectTabIcon > img {
	width: 14px;
	height: 14px;
	transition-property: filter !important;
}
[data-theme="light"] .projectTabIcon > img {
	filter: invert(91%) sepia(89%) saturate(6870%) hue-rotate(222deg) brightness(71%) contrast(117%);
}
[data-theme="dark"] .projectTabIcon > img {
	filter: invert(51%) sepia(29%) saturate(1442%) hue-rotate(194deg) brightness(101%) contrast(100%);
}
.projectTabName {
	margin: auto 0;
}
.projectWindowR {
	flex-grow: 1;
}
.projectWindowRTop {
	padding: 16px 20px;
	background-color: #00000027;
}
.projectWindowRBody {
	display: grid;
	grid-template-columns: repeat(auto-fill, var(--projectWindowTileSize));
	justify-content: center;
	padding: 26px 20px;
	gap: 20px;
	max-height: calc(var(--maxProjectWindowHeight) - 103px);
	overflow-y: scroll;
}
.projectImg {
	height: calc(var(--projectWindowTileSize) * .5625);
}
.projectImg > img, .projectImg > video {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 10px;
	background-color: #00000027;
	cursor: zoom-in;
}