@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
* {
  font-family: "Montserrat",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol",Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",Helvetica,"ヒラギノ角ゴ Pro W3","メイリオ",Meiryo,"ＭＳ Ｐゴシック",Arial,sans-serif;
  text-rendering: optimizeLegibility;
  font-optical-sizing: auto;
}

.w100           {font-weight:100;}
.w200,.wlight   {font-weight:200;}
.w300           {font-weight:300;}
.w400,.wnormal  {font-weight:400;}
.w500           {font-weight:500;}
.w600,.wsemibold{font-weight:600;}
.w700,.wbold,.sb{font-weight:700;}
.w800           {font-weight:800;}
.w900           {font-weight:900;}
.w1000          {font-weight:1000;}
.si {font-style: italic;}
.s100 {font-size:12px;}
.s200 {font-size:14px;}
.s300 {font-size:16px;}
.s400 {font-size:20px;}
.s500 {font-size:28px;}
.s600 {font-size:36px;}
.ct50 {color:var(--text-50); }
.ct100{color:var(--text-100);}
.ct200{color:var(--text-200);}
.ct300{color:var(--text-300);}
.ct400{color:var(--text-400);}
.ct500{color:var(--text-500);}
.ct600{color:var(--text-600);}
.ct700{color:var(--text-700);}
.ct800{color:var(--text-800);}
.ct900{color:var(--text-900);}
.ct950{color:var(--text-950);}
.cp50 {color:var(--primary-50); }
.cp100{color:var(--primary-100);}
.cp200{color:var(--primary-200);}
.cp300{color:var(--primary-300);}
.cp400{color:var(--primary-400);}
.cp500{color:var(--primary-500);}
.cp600{color:var(--primary-600);}
.cp700{color:var(--primary-700);}
.cp800{color:var(--primary-800);}
.cp900{color:var(--primary-900);}
.cp950{color:var(--primary-950);}
.cs50 {color:var(--secondary-50); }
.cs100{color:var(--secondary-100);}
.cs200{color:var(--secondary-200);}
.cs300{color:var(--secondary-300);}
.cs400{color:var(--secondary-400);}
.cs500{color:var(--secondary-500);}
.cs600{color:var(--secondary-600);}
.cs700{color:var(--secondary-700);}
.cs800{color:var(--secondary-800);}
.cs900{color:var(--secondary-900);}
.cs950{color:var(--secondary-950);}
.ca50 {color:var(--accent-50); }
.ca100{color:var(--accent-100);}
.ca200{color:var(--accent-200);}
.ca300{color:var(--accent-300);}
.ca400{color:var(--accent-400);}
.ca500{color:var(--accent-500);}
.ca600{color:var(--accent-600);}
.ca700{color:var(--accent-700);}
.ca800{color:var(--accent-800);}
.ca900{color:var(--accent-900);}
.ca950{color:var(--accent-950);}

.al {text-align: left;}
.ac {text-align: center;}
.ar {text-align: right;}
.aj {text-align: justify;}
.ma {margin: auto;}
.mav {margin-top: auto; margin-bottom: auto;}
.mah {margin-left: auto; margin-right: auto;}
.trim {
  white-space: nowrap;
	overflow: hidden;
  text-overflow: ellipsis;
}