@import url(./font.css);

[data-theme="dark"] {
  --colBg: #282828;
  --colTxt: #e9e9e9;
}
[data-theme="light"] {
  --colBg: #f6f6f6;
  --colTxt: #252525;
}

body {
  background-color: var(--colBg);
  color: var(--colTxt);
}