@import url(./font.css);
@import url(./color.css);

:root {
  --bezierBounceOut: cubic-bezier(0,.7,.3,1.5);
  --bezierQuartOut: cubic-bezier(0,.75,.25,1);
  --bezierQuartIn: cubic-bezier(.75,0,1,.25);
  --bezierQuartInOut: cubic-bezier(.75,0,.25,1);

  --contentMaxWidth: 1100px
}
.deferTransition *, .deferTransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -ms-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.themeApplicable {
  transition-property: background-color, color, border-color;
  transition-duration: .3s;
  transition-timing-function: ease-out;
}
a {
  color: var(--accent-700);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

body {
  background-color: var(--background-100);
  color: var(--text-900);
}
.noSelect, .noSelect *, br {
	-webkit-user-select: none; /* Safari */
	-ms-user-select: none; /* IE 10 and IE 11 */
	user-select: none; /* Standard syntax */
}
.noDrag, .noDrag *, br {
  -webkit-user-drag: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.noScrollBar::-webkit-scrollbar {
  display: none;
}
/* Hide scrollbar for IE, Edge and Firefox */
.noScrollBar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}