@media screen and (max-width: 550px) {
  .aboutMeDevIcon {
    display: none;
  }
  .aboutMeDesc {
    text-align: center;
  }
}

.aboutMeBody {
  display: flex;
  margin: auto;
  gap: 20px;
  max-width: var(--maxProjectWindowWidth);
  padding: 16px;
}
.aboutMeDesc {
  margin: 10px auto;
  line-height: 26px;
}